.Tulokset, .Lahtolista {
  padding: 0px 10px;
  background-image: url("img/bg7.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.sarjalinkit a {
  padding-right: 10px;
}

.restbl td, .lahtbl td {
  text-align: left;
}

.restbl td:first-child, .lahtbl td:first-child {
  text-align: right;
}

@media only screen and (min-width:768px) {
  .Tulokset {
    font-size: 1.4em;
  }
  .Tulokset {
    padding: 20px 40px;
  }
  .restbl, .lahtbl {
    font-size: 16px;
  }

  .restbl td, lahtbl td {
    padding-right: 10px;
  }
  .restbl td:nth-child(3) {
    min-width: 150px;
  }
  .lahtbl td:nth-child(4) {
    min-width: 200px;
  }

  .sarjalinkit {
    padding-top: 20px;
  }
}
